.Expenses{
    display: flex;
    width: 100%;
    column-gap: 10px;
    justify-content: center;
}

.progressWrapper{
    width: 100%;
    box-shadow: 0 0 2px 0 rgba(145, 158, 171, .3), 0 12px 24px -4px rgba(145, 158, 171, .12);
    padding: 15px;
    background-color: #FFF;
    color: #7184ad;
    font-weight: 500;
}
.categoryList{
    width: 100%;
   
    
}
.categoryItem{
    display: flex;
    width: 100%;
}
.CircularIncome{
    width: 30%;
}
.TanStackTable{
    width: 70%;
}

@media (max-width: 1200px) {
   .Expenses{
    display: flex;
    flex-direction: column;
    
   }
   .CircularIncome{
    width: 87%;
   }
   .TanStackTable{
    width: 87%;
    margin-top: 15px;
   }
   .progressWrapper{
    width: 100%;
   }
  }
